@import "../base/base";
main {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 0;
    text-align: center;
    justify-content: center;
    .container-article {
      padding: 1rem;
      img {
        width: 18rem;
      }
    }
  }
}

@media (min-width: 720px) {
  main {
    .container {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      .container-article {
        img {
          width: 20rem;
        }
      }
    }
  }
}
